<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eg.edu.cu.fci.ecampus.fci_e_campus"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.WelcomeActivity"
            android:label="@string/app_launcher_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WelcomeActivity" />
        </activity>

        <activity
            android:name=".activities.SignupActivity"
            android:parentActivityName=".activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WelcomeActivity" />
        </activity>

        <activity
            android:name=".activities.ActivationActivity"
            android:parentActivityName=".activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.WelcomeActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.JoinCourseActivity"
            android:label="@string/title_activity_join_course"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.CourseActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.CourseScheduleActivity"
            android:parentActivityName=".activities.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseActivity" />
        </activity>

        <activity
            android:name=".activities.CourseMaterialsActivity"
            android:parentActivityName=".activities.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseActivity" />
        </activity>

        <activity
            android:name=".activities.CourseTasksActivity"
            android:parentActivityName=".activities.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseActivity" />
        </activity>

        <activity
            android:name=".activities.CourseForumActivity"
            android:parentActivityName=".activities.CourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseActivity" />
        </activity>

        <activity
            android:name=".activities.AddPostActivity"
            android:parentActivityName=".activities.CourseForumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseForumActivity" />
        </activity>

        <activity
            android:name=".activities.ForumPostActivity"
            android:parentActivityName=".activities.CourseForumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.CourseForumActivity" />
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>